body{margin: 0;}
.banner_box {
    width: 100%;
    height: 450px;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.main_banner_img{
    width: 754px;
    height: 450px;
    background-image: url("../img/watch-pic.png");
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} 
.item {
    position: absolute;
    width: 362px;
    height: 242px;
    top: 105px;
    left: 587px
}
.item0{background: url(../img/banner_img0.jpg);background-size: cover; background-position: center;}
.item1{background: url(../img/banner_img1.jpg);background-size: cover; background-position: center;}
.item2{background: url(../img/banner_img2.jpg);background-size: cover; background-position: center;}
.item3{background: url(../img/banner_img3.jpg);background-size: cover; background-position: center;}
.item4{background: url(../img/banner_img4.jpg);background-size: cover; background-position: center;}
.item5{background: url(../img/banner_img5.jpg);background-size: cover; background-position: center;}
.item6{background: url(../img/banner_img6.jpg);background-size: cover; background-position: center;}

.btn_item {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #ce3143;
    position: absolute;
    bottom:100px;
    
}
.btn_item_L { right:calc(40% - 190px);}
.btn_item_R { right:calc(40% - 270px);}


