.footer{
    width: 100%;
    height: 200px;
    background: #ddd;
    position: relative;
}
.footer_nav{
    width:800px;
    height: 75px;
    background-color: white;
    box-shadow: 4px 4px 1px rgba(64, 64, 64,0.3);
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ddd;
}
.dong{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(215, 215, 215);
    position: absolute;
}
.do1{left: 3px;top: 3px;}
.do2{right: 3px;top: 3px;}
.do3{left: 3px;bottom: 3px;}
.do4{right: 3px;bottom: 3px;}

.footer_nav_ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100%;
    line-height: 75px;
}

.footer_nav_li:hover > a > img{
    transform: rotateY(360deg);
}
.footer_nav_a{
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}
.footer_nav_a > img{
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    padding-top: 10px;
    transition: all 1s;
}
.footer_nav_p{
    font-family: 'PartialSansKR-Regular';
    float: left;
    color: black;
    margin: 0;
    margin-left: 5px;
}
.footer_nav_p:hover{
    color: red;
}
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.go_top{
    display: block;
    width: 90px;
    height: 200px;
    background: url("../img/topbutton.png");
    background-size: cover;
    position:absolute;
    right: 0;
    bottom: 0;
    transform: translateY(0px);
    transition: all 0.5s;
}
.go_top:hover{
    transform: translateY(50px);
}


.menu_box{
    width: 100px;
    height: 100px;
    background: #facd00;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.menu_box .dong{
    background: #f08200;
}
.line{
    height: 5px;
    border-radius: 5px;
    background: #000;
    margin:15px 10px ;
}
.linep{
    font-weight: bold;
    text-align: center;
    cursor: none;
}
.menu_btn{
    display: none;
}

.menu_btn_ul{
    display: grid;
    height: 100%;
    background: #fff;
    border-radius: 10px;

}
.menu_btn_a{
    text-decoration: none;
    text-align: center;
    display: block;
    height: 100%;
    padding: 0 10px;
}
.menu_btn_a > img{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    padding-top: 15px;
    transition: all 1s;
}
.menu_btn_p{
    font-family: 'PartialSansKR-Regular';
    float: left;
    color: black;
    margin: 0;
    margin-left: 5px;
    font-size: 13px;
    line-height: 55px;
}
.menu_btn_li::after{
    content: "";
    display: block;
    height: 2px;
    margin: 0 10px;
    background: #ddd;
}
.menu_btn_p:hover{
    color: red;
}

@media screen and (max-width:768px) {
    .footer{
       display: none;
    }
    .menu_box{
        display: block;
    }
    
}
