/* header */
body{
    position: relative;
}
body::after{
    content: "";
    width: 100%;
    height: 100vh;
    background: url(../img/shop/swiper_bg1.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -9;
    opacity: 0.8;
}
.view{
    height: 100vh;
}
.logo_a {
    text-decoration: none;
    display: block;
    width: 200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 55px;
}

.mariologo{
    font-size: 50px;
    color: white;
    display: flex;
    font-family: 'SuperMario256.ttf';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

@font-face {
    font-family: 'SuperMario256.ttf';
    src: url('../fonts/SuperMario256.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.p1 {color: red;}
.p2,.p4 {color: blue;}
.p3{color: yellow;}
.p5{color: green;}

.swiper {
    /* margin-top: 50px; */
width: 100%;
height: 60vh;
}
.swiper-slide {
text-align: center;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
#new_arr {
    /* height:40vw; 
    max-height: 800px;
    min-height: 400px; */

    position: relative;
    overflow: hidden;
} 
.swiper-button-next,
.swiper-button-prev {
    color: red;
}

.main{
    width: 100%;
    max-width: 1200px;
    
    margin: 0 auto;
}
.main_nav{
    width: 100%;
    position: relative;
    z-index: 999;
}
.main_nav_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main_nav_li{
    font-size: 25px;
    font-family: 'SuperMario256.ttf';
    text-align: center;
    color: black;
    background-color: white;
    border:3px solid;
    border-radius: 50px;
    width: calc((100% - (6* 6))/6);
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    line-height: 40px;
}   
#nav_li_mario{
    color: #e0120f;
}
#nav_li_luigi{
    color: #08a936;
}
#nav_li_kino{
    color: #17419a;
}
#nav_li_yosh{
    color: #70b921;
}
#nav_li_koopa{
    color: #f8be10;
}
#nav_li_queen{
    color: #f096be;
}

/* //////////////////////////////////////// */



.swiper.mySwiper1 {
    padding: 60px 0 !important;
    display: none ;
}
.swiper.mySwiper2,
.swiper.mySwiper3,
.swiper.mySwiper4,
.swiper.mySwiper5,
.swiper.mySwiper6{
    padding: 60px 0 !important;
    display: none;
}

.swiper.active { 
    top: 0 !important;
}

.swiper_bg{
    background: url(../img/shop/swiper_bg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    position: relative;
}
.swipimg{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 70%;
}
.swiper_img_mario0{
    background-image: url(../img/shop/swiper_mario.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_mario1{
    background-image: url(../img/shop/swiper_mario1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_mario2{
    background-image: url(../img/shop/swiper_mario2.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_mario3{
    background-image: url(../img/shop/swiper_mario3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_luigi0{
    background-image: url(../img/shop/swiper_luigi0.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_luigi1{
    background-image: url(../img/shop/swiper_luigi1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_luigi2{
    background-image: url(../img/shop/swiper_luigi3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_luigi3{
    background-image: url(../img/shop/swiper_luigi0.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_luigi4{
    background-image: url(../img/shop/swiper_luigi4.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_luigi5{
    background-image: url(../img/shop/swiper_luigi3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_kino0{
    background-image: url(../img/shop/swiper_kino0.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_kino1{
    background-image: url(../img/shop/swiper_kino1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_kino2{
    background-image: url(../img/shop/swiper_kino2.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_kino3{
    background-image: url(../img/shop/swiper_kino3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_kino4{
    background-image: url(../img/shop/swiper_kino1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_kino5{
    background-image: url(../img/shop/swiper_kino3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_yosh0{
    background-image: url(../img/shop/swiper_yosh0.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_yosh1{
    background-image: url(../img/shop/swiper_yosh1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_yosh2{
    background-image: url(../img/shop/swiper_yosh2.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_yosh3{
    background-image: url(../img/shop/swiper_yosh3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_yosh4{
    background-image: url(../img/shop/swiper_yosh1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_yosh5{
    background-image: url(../img/shop/swiper_yosh3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_ku0{
    background-image: url(../img/shop/swiper_ku0.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_ku1{
    background-image: url(../img/shop/swiper_ku1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_ku2{
    background-image: url(../img/shop/swiper_ku2.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_ku3{
    background-image: url(../img/shop/swiper_ku3.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_pi0{
    background-image: url(../img/shop/swiper_pi0.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_pi1{
    background-image: url(../img/shop/swiper_pi1.png);
    background-size: cover;
    background-position: center;
}
.swiper_img_pi2{
    background-image: url(../img/shop/swiper_pi2.png);
    background-size: cover;
    background-position: center;
}


.display_block{
    display: block !important;
}
.display_none{
    display: none;
}